*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.result{
    padding-right: 10px;
    background-color: rgb(62, 134, 197);
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    height: 300px;
    width: 220px;
    border-radius: 10px;
    text-align: center;
}
.summary{
    background-color: azure;
    border-radius: 10px;
    height: 300px;
    width: 220px;
    padding-left: 10px;
}
.button_1{
    padding: 12px;
    width: 140px;
    height: 50px;
    background-color: rgba(43, 28, 28, 0.911);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}
button:hover{
    background-color: #2a2a72;
    color: white;
}
section{
    padding: 20px;
}
aside{
    padding: 20px;
}
h2{
    font-size: 20px;
    color: white;
}
.seven{
    font-size: 45px;
    color: white;
    font-weight: bold;
    
   
    
}
h3, p{
    color: rgba(240, 240, 240, 0.8);
    padding-top: 15px;
    
}
p{
    font-size: 13px;
    height: 110px;
}
 td{
    padding: 15px;
    /* color: red; */
    
}
table th{
    padding: 8px;

}
/* tr:nth-child(3){
    background-color: #882217;
    border-radius: 20px;
    border: solid 2px;
    color: #f32e2b;
} */